<%  logger.info "Processing the request..."%>
<%= form_for @question, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :item, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :item, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :aspect_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :aspect_id, Aspect.all.collect {|as| [as.name, as.id] }, {include_blank: ''} %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                questions_path, :class => 'btn' %>
  </div>
<% end %>
