<%= form_for @answer_form, :html => { :class => 'form-horizontal' } do |f| %>

  <strong><%= label_tag "Teacher " %></strong> 
  <%= User.find(@answer_form.user_ids.first).name %>

   <table class="table table-striped"> 
    <thead>
      <tr>
        <th><%= label_tag "questions" %></th>
        <th><%= label_tag "answers" %></th>
      </tr>
    </thead>
    <tbody>
      <% @answer_form.survey.questions.each do |a| %>
        <tr>
          <td><%= a.item %></td>
          <td>
            <div class="form_row">
              <% [ 'E', 'B', 'R', 'M' ].each do |choice| %>
               <%= radio_button_tag 'choice', choice %>
              <% end %>
            </div>
          </td>
        <% end %>
      </tr>
    </tbody>
  </table>
    
  <div class="control-group">
    <%= f.label :details, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :details, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                answer_forms_path, :class => 'btn' %>
  </div>
<% end %>
