<%= form_for @answer_form, :html => { :class => 'form-horizontal' } do |f| %>

  <strong><%= label_tag "Teacher " %></strong> 
  <%= User.find(@answer_form.user_ids.first).name %>
  <br><br>

  <%= f.fields_for :survey do |builder| %>
    <%= render 'survey_fields', f: builder %>
  <% end %>
    
  <div class="control-group">
    <%= f.label :details, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :details, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                answer_forms_path, :class => 'btn' %>
  </div>
<% end %>
