<%- model_class = AnswerForm -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:course) %></th>
      <th><%= model_class.human_attribute_name(:teacher) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @answer_forms.each do |answer_form| %>
      <tr>
        <td><%= answer_form.course %></td>
        <td><%= answer_form.user_ids %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_answer_form_path(answer_form), :class => 'btn btn-mini' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_answer_form_path,
            :class => 'btn btn-primary' %>
