<%- model_class = Questionnaire -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<%= render :partial => "shared/breadcrumbs" %>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:course) %></th>
      <th><%= model_class.human_attribute_name(:teacher) %></th>
      <th><%= model_class.human_attribute_name(:survey) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @questionnaires.where(user_ids: current_user.id).each do |questionnaire| %>
      <tr>
        <td><%= questionnaire.course.name %></td>
        <% questionnaire.user_ids.each do |user| %>
          <% if JSON.parse(User.find(user).roles.to_json)[0]["name"] == "Teacher" %>
            <td><%= User.find(user).name %></td>
          <% end %>
        <% end %>
        <td><%= questionnaire.survey_id %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_questionnaire_path(questionnaire), :class => 'btn btn-mini' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>