<%= form_tag :controller => 'load_user', :action => 'load_data', :method => 'post' do %>

	<div class="page-header">
	  <h1>Load users from SOAP service</h1>
	</div>
	<%= render :partial => "shared/breadcrumbs" %>	
	<div class="span3">
		<div class="controls">
			<%= label_tag 'user_id', 'User ID' %>
  		<%= text_field_tag 'user_id' %>
  		<%= submit_tag "Load", :class => 'btn btn-primary' %>
		</div>
	</div>

<% end %>