<div class="page-header">
	<h1>Load users from SOAP service</h1>
</div>

<div class="span4">
	<div class="controls">
	<br>
  <% if @user != nil %>
  	<%= label_tag 'Log de Mensajes' %><br><br>
  	<strong><%= label_tag 'Name' %> </strong>
  	<%= label_tag @user.name %><br>
  	<strong><%= label_tag 'Email' %> </strong>
  	<%= label_tag @user.email	 %><br>
  	<strong><%= label_tag 'ID Number'%> </strong>
  	<%= label_tag @user.id_number	 %><br>
  	<strong><%= label_tag 'Role'%> </strong>
  	<%= label_tag JSON.parse(@user.roles.to_json)[0]["name"] %><br>
  <% else %>
  <br>
  	<strong><%= label_tag 'Error, cannot load user :(' %></strong><br>
  	<ol>
	  	<li><%= label_tag 'SOAP service is down' %></li>
	  	<li><%= label_tag 'User ID doesnt exist in database' %></li>
	  	<li><%= label_tag 'Invalid ID, Example:' %> </li>
	  </ol>
		<ul>
			<li><%= label_tag ' cat' %></li>
			<li><%= label_tag ' banana' %></li>
  		<li><%= label_tag ' /(/"()!12982' %></li>
  		<li><%= label_tag ' select * from admin where 1 = 1' %></li>
  	</ul>
  <% end %>
	</div>
</div>